<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <div class="alert alert-secondary">
            <p class="mb-3">
              <b><%=blog.title%></b> <br />
              do you want to delete the blog entry named
            </p>
            <form action="/admin/blog/delete/<%= blog.id %>" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="blogid" value="<%= blog.id %>" />
              <button type="submit" class="btn btn-danger">Yes</button>
              <a href="/admin/blogs" class="btn btn-primary">No</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
